<mat-card class="interactive-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Interactive Colorization</mat-card-title>
    <mat-card-subtitle>Manually Control the Auto Colorization</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="image bw-img" [ngStyle]="{'background-image': 'url('+(imageString)+')'}" (click)="addPoint($event)">
      <div class="point" [ngStyle]="{'left.px': positionsStyle[i].left + 17, 'top.px': positionsStyle[i].top + 82, 'background-color': positionsStyle[i]['background-color']}" [hidden]="isHidden[i] === true" [id]="'point-' + point.toString()" *ngFor="let point of points; let i=index">
        <img [id]="'close-' + point.toString()" *ngIf="selectedPos == i" src="../assets/images/cancel.svg" alt="">
      </div>
    </div>
    <div class="image" [ngStyle]="{'background-image': 'url('+(imageColorized)+')'}"></div>
    <div class="color-picker">
      <color-sketch [color]="state" (onChangeComplete)="changeComplete($event)" [disableAlpha]="true"></color-sketch>
      <button mat-fab style="float: left; margin-top: 20px; margin-left: 10px; vertical-align: center" (click)="colorizeImage()" title="Colorize">
        <img src="../assets/images/magic-wand.svg" style="max-width: 70%; margin-top: -8px" alt="magic_wand">
      </button>
      <button mat-fab style="float: left; margin-top: 20px; margin-left: 30px; vertical-align: center" title="Restore Original Image" (click)="restoreOriginal()">
        <img src="../assets/images/restore.svg" style="width: 70%; margin-top: -5px" alt="restore">
      </button>
      <a mat-fab style="float: left; margin-top: 20px; margin-left: 30px; vertical-align: center" [href]="imageColorized" [download]="imageName" title="Download">
        <img src="../assets/images/download_img.svg" style="width: 50%; margin-top: -3px" alt="download">
      </a>
    </div>
    <div *ngIf="loading" class="loader"></div>
  </mat-card-content>

  <app-slider [images]=""></app-slider>
</mat-card>

<ngb-alert class="error" type="danger" *ngIf="sendError" (close)="close()">{{ messageError }}</ngb-alert>
