
<mat-nav-list>
  <h1 mat-dialog-title>Choose model</h1>
  <mat-radio-group mat-dialog-content
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="selectedModel">
    <mat-radio-button style="display: block; font-size: x-small" *ngFor="let model of models; let i=index" [value]="i">
      {{model}}
    </mat-radio-button>
  </mat-radio-group>
  <div>
    <button mat-raised-button style="background-color: #ffefa1" [mat-dialog-close]="selectedModel">Colorize</button>
  </div>
</mat-nav-list>
